

  <header id="header" class="header_beta d-flex align-items-center beta_nav">
    <div class="container-fluid position-relative d-flex align-items-center">
      <a href="/" class="logo d-flex align-items-center me-auto">
        <img src="assets/img/exam_buddy.png" class="beta_logo"  alt="">
      </a>

      <nav id="navmenu" class="navmenu">
        <!-- <ul>
          <a href="https://www.knolly.co.uk/offer/" id="beta_button">Back to ExamBuddy</a>
        </ul> -->
        <%- include('./switch.ejs') %>
        <!-- <i class="mobile-nav-toggle d-xl-none bi bi-list"></i> -->
      </nav>
    </div>
  
