<div class="sidebar">
  <!-- Sidebar content here -->
  <nav class="py-4">
    <ul class="nav flex-column">
      <li class="nav-item nav-item-logo"> 
        <a href="/dashboard">
          <img src="/assets/img/exam_buddy.png" class="my_logo" alt="Home_icon">
        </a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link text-light" href="/dashboard">
          <img src="/assets/img/home_icon.svg" alt="Home_icon"> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/quiz">
          <img src="/assets/img/quiz_icon.svg" alt="Home_icon"> Quiz
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/doubt">
          <img src="/assets/img/knolly_icon.svg" alt="Home_icon"> Chat
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/logout">
          <img src="/assets/img/logout.svg" alt="Home_icon"> Logout
        </a>
      </li>
    </ul>
  </nav>
</div>

<button class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <i class="bi bi-list"></i>
</button>

<div class="navbar-collapse" id="navbarNav">
  <ul class="nav flex-column">
    <li class="nav-item-mob nav-item-logo-mob"> 
      <a href="/dashboard">
        <img src="/assets/img/exam_buddy.png" class="my_logo" alt="Home_icon">
      </a>
    </li>
    <li class="nav-item-mob"> 
      <a class="nav-link text-light" href="/dashboard">
        <img src="/assets/img/home_icon.svg" alt="Home_icon"> Home
      </a>
    </li>
    <li class="nav-item-mob">
      <a class="nav-link text-light" href="/quiz">
        <img src="/assets/img/quiz_icon.svg" alt="Home_icon"> Quiz
      </a>
    </li>
    <li class="nav-item-mob">
      <a class="nav-link text-light" href="/doubt">
        <img src="/assets/img/knolly_icon.svg" alt="Home_icon"> Chat
      </a>
    </li>
    <li class="nav-item-mob">
      <a class="nav-link text-light" href="/logout">
        <img src="/assets/img/logout.svg" alt="Home_icon"> Logout
      </a>
    </li>
  </ul>
</div>


